<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dvik.com.taskzy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".TaskApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/google_play_services_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_play_services_key" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/google_play_services_key" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SituationListActivity"
            android:label="@string/title_activity_situation_list"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dvik.com.taskzy.HomeActivity" />
        </activity>
        <activity
            android:name=".AddSituationActivity"
            android:label=""
            android:parentActivityName=".SituationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dvik.com.taskzy.SituationListActivity" />
        </activity>
        <activity
            android:name=".CreatePairActivity"
            android:label="@string/title_activity_create_pair"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dvik.com.taskzy.HomeActivity" />
        </activity>
        <activity
            android:name=".PickTaskActivity"
            android:label="@string/title_activity_pick_task"
            android:parentActivityName=".CreatePairActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreatePairActivity" />
        </activity>

        <receiver android:name=".receiver.TaskzyFenceReceiver">
            <intent-filter>
                <action android:name="dvik.taskzy.action_fence" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.SituationProvider"
            android:authorities="dvik.com.taskzy.provider.SituationProvider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>